.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(210, 22%, 22%);
    padding: 10px 20px;
    transition: background-color 0.4s;
}
@media (min-width: 992px) {
    .header {
        padding: 20px 30px;
    }
}
.moon-icon {
    cursor: pointer;
}
 .light-theme{
    background-color: var(--light-mode-background);
    color: var(--light-mode-text);
    box-shadow: 0 1px 10px  #d9d6d6;
}